<div class="row">
  <div class="col-md-12">
    <h3>Projects We're Especially Proud of</h3>
    <p class="lead">Although the ultimate goals of Open Savannah are to increase civic engagement and democratize technical skills in greater Coastal Georgia, we realize that the only way that can be achieved is through many small victories. Here are a few of ours</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Core Team</h3>
    <p class="lead">Open Savannah is led by a volunteer Core Team that organizes events, manages strategic partnerships, and ensures fluid communication among cross-functional project teams. Interested in joining the Core ir General Brigade Leadership Teams? We have <a href="/needs">six open positions</a>you should consider!</p> 
  </div>
</div>

{% for member in site.data.core_team %}
<div class="row cushion-bottom">
  <div class="col-xs-4 text-center">
    <img class="img-responsive img-circle" src="/images/headshots/{{ member.headshot }}">
    <h4>{{ member.name }}</h4>
    <h5>{{ member.title }}</h5>
    <ul class="list-unstyled horizontal-icons text-center">
      <li><a href="mailto:{{ member.email }}?Subject=Code%20for%20Sacramento" target="_blank"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter" target="_blank"></i></a></li>
      <li><a href="{{ member.github }}"><i class="fa fa-github" target="_blank"></i></a></li>
      <li><a href="{{ member.linkedin }}"><i class="fa fa-linkedin" target="_blank"></i></a></li>
    </ul>
  </div>
  <div class="col-xs-8">
    <p>{{ member.bio }}</p>
  </div>
</div>
{% endfor %}

<div class="row">
  <div class="col-md-12">
    <h3>Advisory Board</h3>
    <p class="lead">Coming Soon</p>
  </div>
</div>
