<div class="row">
  <div class="col-md-12">

    <p class="lead">.</p>

    <h3 id="technology-for-good">One street in one year: 117 cyclists injured</h3>
    <h4>On Whitaker Street alone, data from 2016 paints a geographic and temporal picture of an urban street in need of safeguards for cyclists </h4>
<iframe width="100%" height="520" frameborder="0" src="https://carlvlewis.carto.com/builder/ff8b1294-66dd-4c7f-8e5b-dab1280eadbd/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>>
<p><caption>To drill down to specific date ranges or portions of the street, either use the map controls to zoom or the sliding filters to display a specific date range only. The bar chart displays</caption></p>
    <p class="lead">In 2016, 117 cyclists suffered injuries from collisions with vehicles on Whitaker Street alone in Savannah, police reports show. <a href="http://codeforamerica.org">Code for America</a>:</p>
    <blockquote>
      <p class="lead">We build open source technology and organize a network of people dedicated to making government services simple, effective, and easy to use.</p><p>We build civic applications by advocating for <a href="http://okfn.org">Open Data</a> policies and access that then empower residents to put data into new civic use-cases. </p>
    </blockquote>
    <p class="lead">At Open Savannah, we try and keep the following goals in mind as we do this:</p>
    <ul>
      <li>make it better to live in our city, county and state</li>
      <li>increase civic engagement</li>
      <li>learn and teach</li>
      <li>help anyone who wants to help</li>
    </ul>
  </div>
</div>
