<div class="padding20 bgcolor-orange">
			<div class="container">
				<div class="col-md-8">
					<h3>Subscribe to our newsletter</h3>
				</div>
				<div class="col-md-4">
				    <br>
					<form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
