
<div class="padding20 bgcolor-orange">
			<div class="container">
				<div class="col-md-8">
					<h3>Subscribe to our newsletter</h3>
				</div>
				<div class="col-md-4">
				    <br>
			
    
     <button type="button" class="btn btn color-blue radius20 ">RSVP NOW</button>
      </div>
    </div>
  </form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		
		
			<div class="clearfix"> </div>
				<!-- Starts-Number-Scroller-Animation-JavaScript -->
					<script src="js/waypoints.min.js"></script> 
					<script src="js/counterup.min.js"></script> 
					<script>
						jQuery(document).ready(function( $ ) {
							$('.counter').counterUp({
								delay: 20,
								time: 1000
							});
						});
					</script>
				<!-- //Starts-Number-Scroller-Animation-JavaScript -->
		</div>
	</div>