<body><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=486354278076833";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <header class="site-header">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="https://crimson-dragonfruit.cloudvent.net/img/code_for_boston_logo.png" height="35" alt="Open Savannah" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="/about" class="dropdown-toggle" data-toggle="dropdown"> ABOUT <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/who-we-are"><i class="fa fa-users"></i> Who We Are</a></li>
                <li><a href="/core-beliefs"><i class="fa fa-sticky-note"></i> Mission Statement</a></li>
                <li><a href="/what-we-do"><i class="fa fa-wrench"></i> What We Do</a></li>
                <li><a href="/project-list"><i class="fa fa-cogs"></i> Our Projects</a></li>
                <li><a href="/in-the-news"><i class="fa fa-newspaper"></i> Press Coverage</a></li>
                <li><a href="/code-of-conduct"><i class="fa fa-code"></i> Code of Conduct</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">GET INVOLVED <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="/getting-started"><i class="fa fa-arrow-right"></i>Quickstart Guide</a></li>
                <li><a href="http://www.meetup.com/opensavannah/" target="_blank"><i class="fa fa-calendar"></i> Show Up (Meetup)</a></li>
                <li><a href="https://github.com/opensavannah/projects" target="_blank"><i class="fa fa-cogs"></i> Start a Project (GitHub)</a></li>
                <li><a href="http://forum.opensavannah.org" target="_blank"><i class="fa fa-comments"></i> Discuss on Forum (Discourse)</a></li>
                <li><a href="http://slack.opensavannah.org" target="_blank"><i class="fab fa-slack-hash"></i> Chat With Us (Slack)</a></li>
                   <li><a href="/neighborhood-ambassador" target="_blank"><i class="fa fa-phone"></i> Become a neighborhood captain</a></li>
              </ul>
            </li>
          
                        <li><a href="http://data.opensavannah.org" target="_blank"><i class="fa fa-database"></i> OUR DATA</a></li>
            <li><a href="https://blog.opensavannah.org" target="_blank"><i class="fa fa-rss"></i> BLOG</a></li>
            <li><a href="/neighborhood-ambassador"><i class="fa fa-university"></i> NEIGHBORHOOD CAPTAINS</a></li>
            <li><a href="/contact"><i class="fa fa-paper-plane"></i> CONTACT</a></li>
<li><a href="https://secure.codeforamerica.org/page/contribute/default?brigade=Savannah%20Brigade" target="_blank"></i> DONATE</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <script src="https://cvlassets.s3.amazonaws.com/fontawesome-1.js"></script>
<script src="https://cvlassets.s3.amazonaws.com/brands.js"></script>
<script src="https://cvlassets.s3.amazonaws.com/regular.js"></script>

  </header>
