<div class="row">
  <div class="col-md-12">
    <h3>Advisory Board</h3>
    <p class="lead">Coming Soon</p>
   {% for advisor in site.data.advisory_board %}
<div class="row cushion-bottom">
  <div class="col-xs-4 text-center">
    <img class="img-responsive img-circle" src="/images/headshots/{{ advisor.headshot }}">
    <h4>{{ advisor.name }}</h4>
    <h5>{{ advisor.title }}</h5>
    <ul class="list-unstyled horizontal-icons text-center">
      <li><a href="mailto:{{ member.email }}?subject=Open%20Savannah"><i class="fas fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter" target="_blank"></i></a></li>
      <li><a href="https://github.com/{{ member.github }}"><i class="fab fa-github" target="_blank"></i></a></li>
      <li><a href="{{ member.linkedin }}"><i class="fab fa-linkedin" target="_blank"></i></a></li>
    </ul>
  </div>
  <div class="col-xs-8">
    <p>{{ advisor.bio }}</p>
  </div>
</div>
{% endfor %}
</div>
