<div class="row">
  <div class="col-md-12">
    <h3>Local Civic Innovators and Creative Problem-Solvers</h3>
    <p class="lead">We are volunteers committed to working with the City of Savannah, Chatham County and other municipalities in the greater Savannah area. We’re here to help and eager to learn from professional public servants. And while we’re advocates for open government (we can’t build apps without open data!), we’re non-partisan and public-minded.</p>
    <p class="lead">We're a group of civic-minded programmers, coders, designers, and extraordinary citizens. We work in partnership with government, non-profit, and technical partners to deploy technology to improve quality of life for <em>all</em> residents and increase citizen engagement with civic issues.</p>
    </div>
    </div>

<div class="row">
  <div class="col-md-12">
    <h3>Senior Leadership</h3>
    <p class="lead">Open Savannah is led by an Executive Leadership Team that organizes events, manages strategic partnerships, and ensures fluid communication among cross-functional project teams. Interested in joining the Core or General Brigade Leadership Teams? We have <a href="/needs"> two vacant Core Leadership positions</a> and 5 vacant general leadership positions you should consider!
  

{% for member in site.data.senior_leadership %}
<div class="row cushion-bottom">
  <div class="col-xs-4 text-center">
    <img class="img-responsive img-circle" src="/images/headshots/{{ member.headshot }}">
    <h4>{{ member.name }}</h4>
    <h5>{{ member.title }}</h5>
    <ul class="list-unstyled horizontal-icons text-center">
      <li><a href="mailto:{{ member.email }}?subject=Open%20Savannah"><i class="fas fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter" target="_blank"></i></a></li>
      <li><a href="https://github.com/{{ member.github }}"><i class="fab fa-github" target="_blank"></i></a></li>
      <li><a href="{{ member.linkedin }}"><i class="fab fa-linkedin" target="_blank"></i></a></li>
    </ul>
  </div>
  <div class="col-xs-8">
    <p>{{ member.bio }}</p>
  </div>
</div>
{% endfor %}

