<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">





{% include shared/head.html %}

  {% include shared/header.html %}

    {% include home/hero.html %}

{% include home/cta.html %}


    {% include home/io-cupid.html %}

    {% include home/featured-apps.html %}


    {% include home/main_description.html %}

    {% include home/supporters.html %}

  {% include shared/footer.html %}

</html>
