<!DOCTYPE html>
<html lang="en">
<script src="http://cvlassets.s3.amazonaws.com/fontawesome-1.js"></script>
<script src="https://cvlassets.s3.amazonaws.com/brands.js"></script>
<script src="https://cvlassets.s3.amazonaws.com/brands.js"></script>
<script src="https://cvlassets.s3.amazonaws.com/regular.js"></script>


{% include shared/head.html %}

  {% include shared/header.html %}

    {% include home/hero.html %}

{% include home/cta.html %}


    {% include home/io-cupid.html %}

    {% include home/featured-apps.html %}


    {% include home/main_description.html %}

    {% include home/supporters.html %}

  {% include shared/footer.html %}

</html>
