<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" class="editable">Wed. May 23 @ 7 p.m.: PARTICIPATORY BUDGETING FOR SAVANNAH</h2>
        <p class="text-center" class="editable">
      <h1 class="text-center"><a href="https://www.facebook.com/events/154164458745482/" target="_blank"><i class="fa fa-calendar"></i></a></h1>
          <p class="text-center"><a href="https://www.meetup.com/OpenSavannah/events/dxbhjnyxhbvb/" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
