<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Civic Launchpad: SavSignals.io</h2>
        <p class="text-center">Join us as we partner with <a href="http://coastalgaindicators.org">Coastal Ga. Indicators Coalition</a>Wed. Dec. 13 at Bull Street Labs for a special year-end open data feedback and project launchpad on community indicators!</p>
      <h1 class="text-center"><a href="http://savsignals.io" target="_blank"><i class="fa fa-calendar-o"></i></a></h1>
          <p class="text-center"><a href="http://savsignals.io" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
