<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" class="editable">Wed. Nov. 28</h2>
        <p class="text-center" class="editable">Community Action Night: Card-Sorting Activity to Create a Better UX for savannahga.gov</p>
      <h1 class="text-center"><a href="http://bit.ly/CityCampSAV" target="_blank"><i class="fa fa-calendar"></i></a></h1>
          <p class="text-center"><a href="https://citycampsav.org" class="btn btn-primary btn-lg">REGISTER NOW</a></p>
      </div>
  </div>
  </div>
</section>
