<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"8cb53edd784a0b3afcd0e387d","lid":"a8613b38de"}) })</script>
<div class="jumbotron bg-img">
  <div class="jumbotron-wrapper">
    <div class="container">
      <h1 class="drop-shadow">We are Open Savannah</h1>
      <p class="drop-shadow">As a Code for America Brigade, we're part of a national network of civic-minded volunteers who contribute their skills toward using the web as a platform for local government and community service.</p>

      {% include shared/email_sign_up_form.html %}
    </div>
  </div>
</div>
