<section id="main-description">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>We play with data and deploy civic apps.</h3>
        <p class="lead">Open Savannah is a civic organization of local developers, designers and data geeks who volunteer to help Coastal Georgia's public agencies and social enterprises adopt open web technologies.</p>
        <p class="lead">We pull together Greater Savannah's best resources to amplify our collective civic impact.</p>
        <h4>A Code for America Brigade</h4>
        <p class="lead">Open Savannah is only one among dozens of local volunteer groups that are part of the larger Code for America ecosystem.</p>
        <h4>Catalyzing the Open Data Economy</h4>
        <p class="lead">Accessible public data will enable the creation of local tech startups that solve real world problems.</p>
      </div>
      <div class="col-md-4">
        {% include shared/twitter-widget.html %}
      </div>
    </div>
  </div>
</section>
<div id="noty-holder"></div><!-- HERE IS WHERE THE NOTY WILL APPEAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Quick to use</h1>
        <p class="lead">Just add a DIV with an ID named "noty-holder"</p>
        <p>Then call you Noty with:</p>
        <pre>
        //1st Param = Message, 2nd Param = Type of alert
        createNoty('Hi! This is my message', 'info');            
        </pre>
      </div>

    </div><!-- /.container -->
